/* Site Stylesheet
  1. NAV BAR 
  2. HEADER IMG 
  3.Section 1 
 
======================================== */
:root{
    --helvetica-font: helvetica;
    --black-bkg: black;
    --color-font: seashell;
   
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--helvetica-font);
}

body{
    background-color: var(--black-bkg);
    opacity: 0.9;
    font-size: 22px;
}


 /* navigation 
 ======================================== */

.nav_background{
    display: flex;
    background-color: var(--black-bkg);
     width: 100%;   
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid var(--color-font);
    max-height: 69px;
     
}

.nav_logo{
    opacity: 0.9;
   color: var(--color-font);
    margin-left: 10px;
    align-items: center;
  
    height: 50px;
    margin: 5px;
   


}

.nav_ul{
   
   list-style:none;

}

.nav_ul > li {
    display: inline-flex;
    color: var(--color-font);
   justify-content: flex-end;
   text-decoration: underline;
   margin:0  10px;
   padding: 0 10px;
   cursor: pointer;
   opacity: 0.9;
   font-size: 25px;
}

 /* header
 ======================================== */
.header_main-cotainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../resources/img/img-mission-background.jpeg);
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
}   

.backgorund{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 1200px;
    height: auto;
    color: var(--color-font);
    min-height: 100px;
    flex-wrap: wrap;
    padding: 2px;
}


.nav_menu{
    display: none;
}

/* Section 1 
 ======================================== */

.section1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
}
/* Figure 
 ======================================== */

.figure_cards{
    display: grid;
    color: var(--color-font);
    grid-template-columns: 5;
    grid-template-rows: 2;
    gap: 2px;
    text-align: center;
    margin-top: 20px;
   justify-content: space-evenly;
    
}

.card-img
{
    width: 300px;
    height: 200px;
    margin-bottom: 5px;
    padding: 10px;
}

.cards1{
   
    grid-column: 1/1;
    grid-row: 1;
}
.cards2{
    grid-column: 2/2;
    grid-row: 1;
}

.cards3{
    grid-column: 3/3;
    grid-row: 1;
}



.aside_main-container{
    display: flex;
    width: 100%;
    background-image: url(../resources/img/img-locations-background.jpeg);
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: var(--color-font);
    justify-content: center;

}

.aside_title{
    margin-top: 15px;
}

.aside_cards{
   
}





/* Foooter */
/*======================================== */





/* MediasQueries */
/*======================================== */

/* Extra small devices (phones, 600px and less) */


@media only screen and (max-width: 600px) {
    

}

/* Small devices (vertical tablets and large phones, 317pxpx and up) */
@media only screen and (min-width: 317px) {
    

   

}

/* Small devices (vertical tablets and large phones, 600px and up) */
@media only screen and (min-width: 590px) {

  

}



/* Medium devices (horizontal tablets, 768px and above) */
@media only screen and (min-width: 768px) {

}

    

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   

}



/* Extra large devices (Large laptops and desktops, 1200px and above) */
@media only screen and (min-width: 1000px) {
   


}